In [2]:
import csv

In [3]:
import pandas
import numpy

In [4]:
budget_dataframe = pandas.read_csv('C:/Users/Alema/Desktop/FinTechClass/Homework_2/PyBank_Resources_budget.csv', delimiter=',')
budget_dataframe.head()
print(budget_dataframe)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [5]:
# Sum for Profit/Losses

Total_Profit_Losses = budget_dataframe['Profit/Losses'].sum()
'{:,}'.format(Total_Profit_Losses)

'38,382,578'

In [6]:
# Total_Months
df = budget_dataframe
nrows = df.shape[0]
Total_Months = nrows

In [7]:
Total_Months

86

In [8]:
#The greatest increase in profits (date and amount) over the entire period.
df = budget_dataframe
col_max = df.max(axis=0)
col_max

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [9]:
#The greatest decrease in losses (date and amount) over the entire period.
df = budget_dataframe
col_min = df.min(axis=0)
col_min

Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [10]:
#The average of the changes in Profit/Losses over the entire period.
df = budget_dataframe
col_mean = df.mean(axis=0)
col_mean

Profit/Losses    446309.046512
dtype: float64

In [11]:
print("FINANCIAL ANALYSIS")
print("-------------------------------")
print(f"Total Months:{Total_Months}")
print(f"Total Profit Losses:{'{:,}'.format(Total_Profit_Losses)}")
print(f"Greatest Increase in profits:{col_max}")
print(f"Greatest Decrease in profits:{col_min}")
print(f"Average of Changes in:{col_mean}")

FINANCIAL ANALYSIS
-------------------------------
Total Months:86
Total Profit Losses:38,382,578
Greatest Increase in profits:Date             Sep-2016
Profit/Losses     1170593
dtype: object
Greatest Decrease in profits:Date             Apr-2010
Profit/Losses    -1196225
dtype: object
Average of Changes in:Profit/Losses    446309.046512
dtype: float64

In [12]:
df.to_txt("Financial_Analysis.txt")

AttributeError: 'DataFrame' object has no attribute 'to_txt'